
.product-box .product-money span {
  margin: 0 3px;
}
.side-shop .side-post:last-child,
.side-blog .side-post:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.side-shop .side-post .entry-tye span.text-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 6px;
}
.shop-detail-image .product-label {
  left: auto;
  right: 0;
}
.shop-detail-contents .price .price-tag + span {
  text-decoration: line-through;
  color: gray;
}
.side-shop .thumb-img a,
.side-blog .thumb-img a {
  width: 80px;
  height: 80px;
  display: block;
}
.checkout-product .product-img img,
.review-box .review-user .review-user-img img,
.side-shop .thumb-img img,
.side-blog .thumb-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.review-box .review-user .review-user-img img {
  width: 40px;
  height: 40px;
}
.checkout-product .product-img img {
  width: 100px;
  height: 100px;
}
.story-wrapper {
  min-height: 300px;
  height: calc(100% - 30px);
}
.story-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.delivery-slider .irs--round .irs-handle > i:first-child,
.delivery-slider .irs--round .irs-from,
.delivery-slider .irs--round .irs-to {
  background-color: #13130d !important;
}

.delivery-slider .irs--round .irs-bar {
  background-color: #13130d !important;
  height: 2px !important;
}

.delivery-slider .irs--round .irs-from:before,
.delivery-slider .irs--round .irs-to:before {
  border-top-color: #13130d !important;
}

.delivery-slider .irs--round .irs-line {
  height: 2px !important;
}

.delivery-slider .irs--round .irs-handle {
  top: 30px !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #13130d !important;
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 992px) {
  .main-navigation {
    overflow: auto;
  }
  header.sticky .main-navigation > nav > .main-menu > .menu-item > a {
    color: #13130d;
  }
}
.bg-cover {
  background-size: cover;
}
.hm-list.hm-instagram li img {
  width: 100%;
}
.product-box .product-caption .product-title a {
  color: #13130d;
}
.product-box .product-caption .product-title a:hover {
  color: #c9a050;
}
.progress-bar {
  overflow: visible;
}

.disabled_swiper_button {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
}

.exhib-section {
  border: 2px solid #13130d;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.board-banner {
  width: 100%;
  height: 100vh;
  background: url("assets/img/board/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.board-text {
  padding:100px 50px;
}

.members{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 100px;
}

.member-img{
  max-width: 300px;
}

.member{
  display: flex;
  gap:50px
}

.member-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.about{
  width: 100%;
  height: 100vh;
  background: url("assets/img/banner/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 350px 300px;
}

.about > h1 {
  color: #3D5BA9;
  font-weight: bold;
}


.why{
  text-align: center;
  padding: 100px 100px;
  border-bottom: 1px solid black;
}

.founders{
  padding: 100px 100px;
  background-color: #f3f3f3;
  border-bottom: 1px solid black;
}

.founders > h1{
  text-align: center;
}

.founder{
  text-align: center;
}

.founder > h4 {
  margin-top: 25px;

}

.founders-container{
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
}


.founders-container > h1 {
  font-size: 250px;
  color:#dadada
}


.about-footer{
  padding: 100px;
}

.about-footer > h5 {
  margin-top: 50px;
}

.home-title {
  padding: 100px;
  text-align: center;
  font-family: 'Cinzel', serif !important;
  background-color: #f2f2f2;
}

.collapse-1 {
  padding: 50px 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collap {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

hr{
  background-color: #1d1b19;
}


.collapse-container{
  padding-left: 200px;
}

